/* *{
    
    margin: 0;
    padding: 0;
    
} */
h1 {
  margin: 0;
  padding: 0;
}
.adminLogin {
  background-image: linear-gradient(#7a0b8a, #0e0f0f);
  width: 100vw;
  height: 100vh;
}
.adminLogin .loginForm {
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  height: max-content;
  background-color: white;
  border-radius: 10px;
}
.adminLogin .loginForm .loginHeader h3 {
  text-align: center;
}
.adminLogin .loginForm .loginMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
